@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Roboto", sans-serif;
	}
	body {
		background-color: #a78bfa;
	}
	#root {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
